/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", system-ui, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}











/* My Custom Styles */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar ..."
}


/* Header styling */

.header {
  grid-area: header;
  padding: 20px 40px;
  /* margin-bottom: 30px; */
  box-shadow: -3px 6px 5px -3px rgba(77, 77, 77, 0.54);
  z-index: 1;
}

.header .top-header {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.1rem;
}

.header input {
  background-color: #e2e8f0;
  border-radius: 1em;
  border: none;
  width: 80%;
  padding: 0.4rem 1rem;
}

.top-header .search {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
}

.top-header > img {
  margin-right: 20px;
}

.search img {
  margin-right: 20px;
  position: relative;
  bottom: -5px;
}

.top-header img[alt^="profile"] {
  width: 40px;
}

.header .bottom-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.bottom-header .user-intro {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 20px;
}

.user-intro img {
  width: 60px;
  border: 3px solid;
  border-radius: 50%;
}

.user-intro {
  font-weight: bold;
  font-size: 1.5rem;
}

.user-intro p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.bottom-header button{
  box-sizing: border-box;
  border: none;
  background-color: #1c92d4;
  color: #f0f9ff;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1em;
}

.bottom-header .btns {
  display: flex;
  column-gap: 20px;
}


/* Sidebar Styling */

.sidebar {
  grid-area: sidebar;
  background: #1c92d4;
  color: #f0f9ff;
  padding: 15px;
  z-index: 1;
}

.sidebar h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.sidebar li {
  display: grid;
  grid-template-columns: auto 1fr;
  font-weight: bold;
  align-items: center;
  margin-bottom: 20px;
  font-size: large;
}

.sidebar li img {
  margin-right: 20px;
}

.sidebar .nav {
  margin-bottom: 50px;
}


/* Main content styling? */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px 30px 75px 15px;
  background-color: #e2e8f0;
  column-gap: 20px;
}

main h2, main h3 {
  font-weight: bold;
}

main h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.projects .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px
}

.projects .card {
  display: grid;
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 0.5em;
  border-left: 8px solid #f0b429;
  box-shadow: 2px 3px 5px lightgray;
}

.projects .card p {
  color: #919191;
  font-size: 0.9rem;
  margin-top: 7px;
}

.card .icons {
  margin-top: 1rem;
  justify-self: end;
  display: flex;
  column-gap: 20px;
}

.anouncements .cards {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 2px 3px 5px lightgray;
}

.anouncements .card {
  border-bottom: 2px solid lightgray;
  margin-bottom: 20px;
}

.anouncements h3 {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.anouncements p {
  color: #919191;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.anouncements .last-one {
  margin-bottom: 0;
  border: none;
}

.anouncements .last-one p {
  margin-bottom: 0;
}

.trending .card {
  display: flex;
}